<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password | Great Travel Agency</title>
    <link rel="stylesheet" href="/css/resetpwForm.css">
</head>

<body>
    <div class="resetFormWrapper">
        <form id="resetpwForm" action="/forgetpw/updatepw" method="post">
            <label>Reset Your Password</label>
                <br/><br/>
            <div>
            Your email: <input type="email" value="<%= member_email %>" name="memberEmail" readonly>
                </br></br>
            Password: <input type="password" id="password" name="password" required>
                </br></br>
            Password again: <input type="password" id="re-password" name="re_password" required>
                </br></br>
            </div>
            <button type="submit" id="submit" >Submit</button>
        </form>
    </div>

    <script src="/js/resetpassword.js"></script>
</body>

</html>