<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password | Great Travel Agency</title>
    <link rel="stylesheet" href="/css/resetpwForm.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="resetFormWrapper">
        <form id="resetpwForm" action="/forgetpw/updatepw" method="post">
            <h1>Reset Your Password</h1>
            <div class="input-box">
                Your email: <input type="email" value="<%= member_email %>" name="memberEmail" readonly> <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                Password: <input type="password" id="password" name="password" required> <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                Password again: <input type="password" id="re-password" name="re_password" required> <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" id="submit" >Submit</button>
        </form>
    </div>

    <script src="/js/resetpassword.js"></script>
</body>

</html>