<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="confirmationModal" class="modal" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;"> 

        <div class="modal-content">
            <div class="d-flex flex-column align-items-center">
                <img src="/img/tick.gif" alt="Confirmation GIF" style="max-width: 150px;">
                <p class="mt-3" style="position: absolute; top: 50%;right: 50%; text-transform: capitalize;" >Thank you for your subscription!</p>
            </div>
        </div>
    </div>

    <script src="javascripts/subscribe.js"></script>
</body>
</html>